#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background-color: gray;
}
#agregarComentario{
    display: flex;
    flex-direction: column;
    height: max-content;
    background-color: gray;
}
input{
    width: 480px;
}
img{
    position: relative;
}
button{
    background-color: lightblue;
}
img{
    height: 100vh;
    width: 450px;
}